.dial-simple button:nth-child(1) {
    --tw-bg-opacity: 1;
    /* background-color: rgb(79 70 229/var(--tw-bg-opacity)); */
    background-color: #1976d2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    vertical-align: baseline;
}

[type='text'], [type='email'], [type='url'], [type='password'], 
[type='number'], [type='date'], [type='datetime-local'], [type='month'], 
[type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    padding: 0;
    font-size: inherit;
    border-width: 1px;
    border-radius: 6px;
    outline: none;
    border-color: #d9d9d9;
}

.ant-input-number-handler-wrap {
    display: none !important;
}

.ant-notification-center {
    left: 50%;
    bottom: 50% !important;
    margin-right: 30%;
    transform: translate(-50%, -50%);
}

:where(.css-dev-only-do-not-override-zjzpde).ant-message .ant-message-notice {
    padding: 8px !important;
    text-align: end !important;
}

.ant-message {
    top: 90px !important;
}

.position-static {
    position: static!important;
}

[type='search']:focus {
    box-shadow: none;
}

[type='button'] {
    background-color: #1677ff;
}